@model IEnumerable<Domain.Models.Poll>
@{
    ViewData["Title"] = "All Polls";
}

<div class="container mt-4">
    <h2>All Polls</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Poll Title</th>
                <th>Date Created</th>
                <th>Vote</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var poll in Model)
            {
                <tr>
                    <td>@poll.Title</td>
                    <td>@poll.DateCreated.ToString("yyyy-MM-dd")</td>
                    <td>
                        @Html.ActionLink("Vote", "Vote", new { id = poll.PollID })
                    </td>
                    <td>
                        @Html.ActionLink("View", "Details", new { id = poll.PollID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
